.callout {
  background-color: #fffbe6 !important;
  font-size: 1.7rem !important;
  max-width: 700px;
  margin: 1.5em auto;
}

/*Prevent scrolling with {.no-scroll}*/
.reveal .slides section[data-scroll="false"],
.reveal .slides section.no-scroll {
  overflow: hidden !important;
}
.reveal .slides section[data-scroll="false"] .slide-scroll {
  overflow: hidden !important;
  height: 100% !important;
}

.reveal h3 {
  font-size: 2rem !important;
}

/* Light pastel yellow–gold gradient*/
.reveal {
  background: linear-gradient(
    135deg,
    #fffbe6 0%,
    #fff9d1 40%,
    #fff6c2 70%,
    #ffecb3 100%
  );
  color: #111; /* Black text*/
}
